* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

#app {
  width: 60%;
  box-sizing: border-box;
  display: flex;
  gap: 5%;
  background-color: red;
  padding: 50px 80px;
  border-radius: 8px;
  align-items: center;
}

#app input {
  padding: 5% 10%;
  border-radius: 10px;
  border: none;
}
#app button {
  padding: 15%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transform: all 0.5s ease;
}
button:hover {
  transform: scale(1.05);
}
