* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(21, 90, 55, 0.74);
}

.container {
  margin: 8% auto;
  width: 45%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  border-radius: 5px;
  background-color: rgb(38, 63, 77);
}

.new-task-add {
  width: 80%;
  margin: 10px;
  height: auto;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: rgb(9, 30, 54);
}
.titulo {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  gap: 10px;
  align-items: center;
}

#titulo-task-list {
  color: white;
  font-size: 3rem;
}

#p-task-list {
  color: white;
  font-size: 18px;
}

#type-new-task {
  background-color: rgb(255, 255, 255, 0.15);
  border-radius: 4px;
  padding: 1rem;
  font-size: 18px;
  width: 90%;
  outline: none; /*descobri agr q essa função aqui tira aquela borda de quando o item ta selecionado*/
  color: white;
  text-align: center;
  border: none;
}
#type-new-task::placeholder {
  color: gray;
}
#btn-add-task {
  background-color: rgb(4, 71, 194);
  width: 25%;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
#btn-add-task:hover {
  background-color: rgb(4, 71, 194, 0.8);
  transform: scale(1.05);
}
.task-list {
  background-color: rgb(9, 30, 54);
  width: 80%;
  height: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
  padding: 1.5rem;
}

@media (max-width: 700px) {
  .container {
    width: 80%;
  }

  .new-task-add {
    flex-direction: column;
  }

  #type-new-task {
  }

  #btn-add-task {
    width: 100%;
  }
}
